@import url(//fonts.googleapis.com/css?family=Bungee);
html body {
  background: #111;
}

#volume,
#zoom {
  position: absolute;
  width: 0%;
  right: 0vw;
  opacity: 0;
  z-index: 15;
}

.row2, .row3, .row1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.row1 {
  top: 250px;
}

.bang {
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes rotate {
  0% {
    filter: hue-rotate(120deg) saturate(100%);
  }
  10% {
    filter: hue-rotate(120deg) saturate(100%);
  }
  100% {
    filter: hue-rotate(120deg) saturate(100%);
  }
}
region.wavesurfer-region[data-region-highlight] {
  border: 1px solid #56b4ef;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

#waveform {
  background: black;
}

#waveform-timeline {
  background: #777;
}

.screen {
  border-style: solid;
  border-color: #256896;
  border-width: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

.label {
  order: 2;
  position: absolute;
  margin-left: 14.5%;
  margin-top: -1.5%;
  opacity: 0;
  font-size: 1em;
  font-weight: 200;
  font-family: 'Bungee';
}
@media (max-width: 100px) {
  .label {
    margin-left: 35%;
    margin-top: 0%;
  }
}

p {
  background: #222;
}

.spacer {
  position: absolute;
  height: 148px;
  width: 200px;
}

.controls {
  position: absolute;
  align-items: center;
}

.padzone {
  margin: 0 18vw 0 18vw;
  position: absolute;
  background: #222;
  width: 64vw;
}

.padsBlock {
  margin: auto;
  width: 9vw;
  display: flex;
  flex-wrap: wrap;
  font-size: 200%;
  font-family: 'Bungee';
}

.padSpacer {
  margin: 0.5vw;
  width: 2vw;
  height: 7vw;
}

.pad {
  margin: 0.5vw;
  width: 5vw;
  height: 5vw;
  font-size: 150%;
  font-family: 'Bungee';
  border-style: solid;
  border-color: #acc;
  border-width: 0.13vw;
  border-radius: 43%;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  z-index: 10;
}
.pad.pressed {
  box-shadow: #bababa -0.1vw 0.1vw 0.1vw inset;
  font-size: 170%;
  top: 3px;
  color: #99F;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #000000;
  height: 32px;
  width: 16px;
  border-radius: 3px;
  background: #222;
  cursor: pointer;
  margin-top: -12px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-moz-range-thumb {
  border: 2px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #222;
  cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #858fa0;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #858fa0;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #3071a9;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #858fa0;
}
input[type=range]:focus::-ms-fill-lower {
  background: #858fa0;
}
input[type=range]::-ms-fill-upper {
  background: #858fa0;
}
input[type=range]:focus::-ms-fill-upper {
  background: #858fa0;
}
